:root {
    --bodyBG: #F0F1F7;
    --body2ndBG: #DDDDEB;
    --textColor: #1B1C21;
    --navBarColor: #70728D;
    --readBtn: #BFC0C8;
}
.darkMode {
    --bodyBG: #676A84;
    --body2ndBG: #1B1C21;
    --textColor: #F0F1F7;
    --navBarColor: #1B1C21;
    --readBtn: #757794;
}

* {
    margin: 0;
    padding: 0;
}
body {
    height: auto;
}
.navBar {
    background-color: var(--navBarColor);
    height: auto;
    padding: 0.5rem;
    top: 0;
    position: sticky;
}
.navContain {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.navContain a {
    font-family: "Josefin Sans", "Arial", sans-serif;
    font-size: 1.4rem;
    color: white;
    margin-right: 0.5em;
    cursor: pointer;
}
.navContain a:active {
    color: #5B66DA;
}
#darkModeBtn {
    border-radius: 10px;
    background-color: var(--bodyBG);
    border: solid var(--bodyBG);
    margin-right: auto;
    margin-left: 1em;
    padding: 0.3rem;
    cursor: pointer;
    height: 2.4rem;
    width: 2.4rem;
}
#darkModeBtn svg {
    fill: var(--textColor);
}
#darkModeBtn:active {
    background-color: #AFB2E4;
}

.intro {
    padding: 0.5em;
    background-color: var(--bodyBG);
}
.content {
    padding: 0.5em;
    background-color: var(--body2ndBG);
    display: grid;
    grid-template-columns: 1fr;
}
.intro h1, .content h1 {
    padding: 0.5rem;
    color: var(--textColor);
    font-family: "Fjalla One", "Lucida Grande", sans-serif;
    font-size: 2rem;
    animation-name: wow;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
.intro p, .content p {
    padding: 0.5rem;
    color: var(--textColor);
    font-family: "Josefin Sans", "Arial", sans-serif;
    font-size: 1.4rem;
    animation-name: wow;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

#read {
    font-family: "Fjalla One", "Lucida Grande", sans-serif;
    font-size: 1.8rem;
    color: var(--textColor);
    padding: 0.5rem;
    text-align: center;
    margin: 2% auto 2% auto;
    list-style-type: none;
    text-decoration: none;
    width: 50%;
    border: solid var(--textColor) 1.5px;
    background-color: var(--readBtn);
    border-radius: 3rem;
    cursor: pointer;
}
#read:active {
    background-color: #AFB2E4;
}

@keyframes wow {
    from {
        transform: translateX(-5%);
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (min-width: 768px) {
    .navContain a {
        font-size: 1.8rem;
        padding: 1%;
    }
    .navContain a:nth-child(2) {
        margin-right: 1.5em;
    }
    #darkModeBtn {
        height: 3rem;
        width: 3rem;
    }
    .intro h1, .content h1 {
        font-size: 3rem;
    }
    .intro p, .content p {
        font-size: 2rem;
        padding: 1.3%;
    }
    #read {
        width: 25%;
        font-size: 1.8rem;
        padding: 1%;
    }
}