:root {
    --bodyBG: #F0F1F7;
    --body2ndBG: #DDDDEB;
    --textColor: #1B1C21;
    --navBarColor: #70728D;
}
.darkMode {
    --bodyBG: #676A84;
    --body2ndBG: #1B1C21;
    --textColor: #F0F1F7;
    --navBarColor: #1B1C21;
}

* {
    margin: 0;
    padding: 0;
}
body {
    height: auto;
}
.navBar {
    background-color: var(--navBarColor);
    height: auto;
    padding: 0.5rem;
    top: 0;
    position: sticky;
}
.navContain {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.navContain a {
    font-family: "Josefin Sans", "Arial", sans-serif;
    font-size: 1.4rem;
    color: white;
    margin-right: 0.5em;
    cursor: pointer;
}
.navContain a:active {
    color: #5B66DA;
}
#darkModeBtn {
    border-radius: 10px;
    background-color: var(--bodyBG);
    border: solid var(--bodyBG);
    margin-right: auto;
    margin-left: 1em;
    padding: 0.3rem;
    cursor: pointer;
    height: 2.4rem;
    width: 2.4rem;
}
#darkModeBtn svg {
    fill: var(--textColor);
}
#darkModeBtn:active {
    background-color: #AFB2E4;
}
.soMe {
    padding: 0.5em;
    background-color: var(--bodyBG);
}
.more {
    padding: 0.5em;
    background-color: var(--body2ndBG);

}
.soMe h1, .more h1 {
    padding: 0.5rem;
    color: var(--textColor);
    font-family: "Fjalla One", "Lucida Grande", sans-serif;
    font-size: 2rem;
    animation-name: wow;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
.soMe p, .more p{
    padding: 0.5rem;
    color: var(--textColor);
    font-family: "Josefin Sans", "Arial", sans-serif;
    font-size: 1.4rem;
    animation-name: wow;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.formBox {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    margin: 3%;
    border: solid var(--textColor) 2px;
    border-radius: 1.3rem;
    background-color: var(--bodyBG);
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    gap: 0.5rem;
}
#name, #email, #message {
    padding: 0.5rem;
    width: 80%;
    border: solid var(--textColor) 1px;
    border-radius: 1em;
    background-color: var(--body2ndBG);
}
#name::placeholder, #email::placeholder, #message::placeholder {
    color: var(--textColor);
}

#message {
    height: 3.5rem;
}
#submitBtn {
    padding: 0.5rem;
    width: 65%;
    border-radius: 1em;
    border: solid var(--textColor) 1px;
    background-color: var(--navBarColor);
    color: var(--textColor);
    margin-top: 2%;
}
@keyframes wow {
    from {
        transform: translateX(-5%);
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (min-width: 768px) {
    .navContain a {
        font-size: 1.8rem;
        padding: 1%;
    }
    .navContain a:nth-child(2) {
        margin-right: 1.5em;
    }
    #darkModeBtn {
        height: 3rem;
        width: 3rem;
    }
    .soMe h1, .more h1 {
        font-size: 3rem;
    }
    .soMe p, .more p {
        font-size: 2rem;
        padding: 1.3%;
    }
    #name::placeholder, #email::placeholder, #message::placeholder {
        font-size: 1.1rem;
        padding-right: 3%;
    }
    #name, #email {
        height: 3rem;
    }
    #message {
        height: 10rem;
    }
    #submitBtn {
        font-size: 1.1rem;
        padding: 1%;
        width: 30%;
    }
    .formBox p {
        margin: 2% 5% auto 5%;
    }
}